@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #a9abb0;
}
@media screen and (min-width: 468px) and (max-width: 1279px) {
  body {
    background-attachment: fixed;
  }
}
@media screen and (max-width: 467px) {
  body {
    background-attachment: fixed;
  }
}
