@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #a9abb0;
  height: 100vh;
  min-height: 100vh;
  background-attachment: fixed;
}
@media screen and (min-width: 468px) and (max-width: 1279px) {
  body {
    overflow: visible;
  }
}
@media screen and (max-width: 467px) {
  body {
    overflow: visible;
  }
}
