/*Mobile*/
@media screen and (min-width: 150px) {
  .quoteDisplay__container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    animation: blur 8s infinite reverse;
    width: 80%;

    .quoteDisplay {
      background-color: rgba(16, 33, 54, 0.344);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: $text-color;
      font-family: $font;
      font-weight: 400;
      margin: 0 auto;
      animation: glow 2500ms linear infinite 2000ms;

      @keyframes glow {
        50% {
          text-shadow: 0 0 12px #fff;
        }
      }
      .frame-quote {
        width: 20px;
        height: 20px;
        margin-bottom: 4px;
        opacity: 0.2;
      }
      .quoteDisplay__text {
        font-style: italic;
        font-size: 14px;
        line-height: 16.8px;
        width: 280px;
        margin: 0;
        text-align: right;
        margin-block-start: 0;
        margin-block-end: 0;
      }
      .quoteDisplay__author {
        font-size: 18px;
        line-height: 21.6px;
        margin-top: 8px;
      }
    }
  }
}
/*Tablet*/

@media screen and (min-width: $tablet-breakpoint) {
  .quoteDisplay__container {
    .quoteDisplay {
      margin: 0 auto;
      width: 80%;
      background: #10213699;
      padding: 20px;
      border-radius: 30px;
      margin-bottom: 30px;

      .quoteDisplay__text {
        font-style: italic;
        font-size: 22px;
        line-height: 26.4px;

        text-align: center;

        width: 100%;
        height: 150px;
      }
      .quoteDisplay__author {
        font-size: 18px;
        line-height: 21.6px;
        margin-top: 20px;
      }
    }
  }
}

/*Desktop*/

@media screen and (min-width: $desktop-breakpoint) {
  .quoteDisplay__container {
    width: 495px;
    align-items: flex-end;
    .quoteDisplay {
      max-width: 95%;
      background: none;
      gap: 8px;
      margin: 0;
      padding: 0 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;

      .quoteDisplay__text {
        text-align: right;
      }
      .quoteDisplay__author {
        margin-top: 32px;
      }
    }
  }
}
